{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Auth Code</title>
    <link rel="stylesheet" href="{% static 'styles/auth_style.css' %}">
  </head>
  <body>
    <form action="{% url 'enter_auth_code' %}" method="post">
      {% csrf_token %}
      <div class='referral_label'>
        <label for="phone">Auth code:</label>
        {% if form.non_field_errors %}

          {% for error in form.non_field_errors %}
            <div class='error'>{{ error }}</div>
          {% endfor %}

        {% endif %}
      </div>

      {{ form.auth_code }}

      <button type="submit">Submit</button>
    </form>
  </body>
</html>