{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles/profile_style.css' %}">
    <title>User Profile</title>
  </head>
  <body>
    <header>
      <h2>User Profile</h2>
      <h2><a href="{% url "logout" %}">Logout</a></h2>
    </header>
    <main>
      <div class="profile-info">
        <h2>{{ phone_number }}</h2>
      </div>
      <div class="profile-stats">
        <div class="stat">
          {% if inviter %}
            <h2>Инвайт код введен</h2>
          {% else %}
            <form action="{% url 'index' %}" method="post">
              {% csrf_token %}
              <div class='referral_label'>
              <label for="phone">Введите инвайт код:</label>
              {% if form.non_field_errors %}
    
                {% for error in form.non_field_errors %}
                  <div class='error'>{{ error }}</div>
                {% endfor %}
    
              {% endif %}
            </div>
              
              {{ form.referral_code }}
        
              <button type="submit">Submit</button>
            </form>

            
          {% endif %}
          
        </div>
        
        </div>
      </div>
    </main>
  </body>
</html>